body{
    margin: 0;
    padding: 0;

    background-color: #c0c0c0;
    font-family: bell MT;
}

/* PANELS */
.infoPanel{
    margin: 8px;
}

.infoHeader {
    background-color: #414141;
    padding: 1px;
    padding-left: 7px;
    border-radius: 15px;
}


.infoHeader > h1 {
    color: white;
}

/* ------------------------------ */

/* KEY VALUE PAIRS */
.pair{
    margin: 0px 5px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    grid-template-columns: 150px auto;
    max-width: 500px;
}

.pair > p{
    margin: 0;
    padding: 0;
}
.pair > .key {
    display: inline-grid;
    font-weight: bold;
}

.pair > .value {
    display: inline-grid;
}

/* ------------------------------ */

/* TABLE */
table{
    margin: 0;
    padding: 0;
}

th{
    text-align: left;
    padding: 0 10px;
}

td {
    padding: 1px 10px;
    cursor: pointer;
}

tr:hover > td{
    color: rgb(150, 143, 143);
}